node-red/flows.json
[{"id":"30b04b78.471094","type":"tab","label":"Entryway Light","disabled":false,"info":""},{"id":"195abbb4.d5b024","type":"subflow","name":"extract entity_id","info":"","category":"home_assistant","in":[{"x":40,"y":40,"wires":[{"id":"905c6598.f99ad"}]}],"out":[{"x":420,"y":40,"wires":[{"id":"905c6598.f99ad","port":0}]}]},{"id":"115cab57.fd5455","type":"server","z":"","name":"Home Assistant","url":"http://hassio/homeassistant","pass":"0e5b11b9c22a40a1ae7eb35179ea28d7"},{"id":"2c6de184.e42b86","type":"server-state-changed","z":"30b04b78.471094","name":"Front Door","server":"115cab57.fd5455","entityidfilter":"binary_sensor.front_door","entityidfiltertype":"substring","haltifstate":"","x":80,"y":120,"wires":[["d8bec8ce.914f4"]]},{"id":"d8bec8ce.914f4","type":"switch","z":"30b04b78.471094","name":"Open?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":120,"wires":[["91eda75.e8452d8","8f624259.8daa3"],["b397213.7abc56"]],"outputLabels":["open","closed"]},{"id":"91eda75.e8452d8","type":"api-current-state","z":"30b04b78.471094","name":"Entryway Light","server":"115cab57.fd5455","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"light.ikea_tradfri_bulb_e26_1000lm_1","x":400,"y":60,"wires":[["e038cfc.582a03"]]},{"id":"f2bb667f.9ad7","type":"switch","z":"30b04b78.471094","name":"Bright Enough?","property":"data.attributes.brightness","propertyType":"msg","rules":[{"t":"gte","v":"191","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":760,"y":40,"wires":[[],["3328bddd.1a584a"]]},{"id":"cb29ac54.be404","type":"api-call-service","z":"30b04b78.471094","name":"Turn Light On","server":"115cab57.fd5455","service_domain":"light","service":"turn_on","data":"{ \"brightness_pct\": 100 }","mergecontext":"","x":1260,"y":60,"wires":[["5a6f363.8134248"]]},{"id":"e038cfc.582a03","type":"switch","z":"30b04b78.471094","name":"On?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":60,"wires":[["f2bb667f.9ad7"],["3328bddd.1a584a"]]},{"id":"3328bddd.1a584a","type":"subflow:195abbb4.d5b024","z":"30b04b78.471094","name":"","x":1080,"y":60,"wires":[["cb29ac54.be404"]]},{"id":"905c6598.f99ad","type":"change","z":"195abbb4.d5b024","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.data.entity_id","pt":"msg","to":"data.entity_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":40,"wires":[[]]},{"id":"db5889e7.1c7d5","type":"stoptimer","z":"30b04b78.471094","duration":"2","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":680,"y":140,"wires":[["c04af924.be3f98"],[]]},{"id":"c04af924.be3f98","type":"api-current-state","z":"30b04b78.471094","name":"Entryway Light","server":"115cab57.fd5455","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"light.ikea_tradfri_bulb_e26_1000lm_1","x":900,"y":140,"wires":[["64defc16.77e29c"]]},{"id":"86a86486.9b15d","type":"api-call-service","z":"30b04b78.471094","name":"Turn Light Off","server":"115cab57.fd5455","service_domain":"light","service":"turn_off","data":"{ \"transition\": 15 }","mergecontext":"","x":1260,"y":140,"wires":[["fce5e282.b5763"]]},{"id":"64defc16.77e29c","type":"subflow:195abbb4.d5b024","z":"30b04b78.471094","name":"","x":1080,"y":140,"wires":[["86a86486.9b15d"]]},{"id":"8f624259.8daa3","type":"change","z":"30b04b78.471094","name":"Stop Timer","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":120,"wires":[["db5889e7.1c7d5"]]},{"id":"b397213.7abc56","type":"traffic","z":"30b04b78.471094","name":"Turned On by Node-RED?","property_allow":"payload","filter_allow":"yes","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"no","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":440,"y":180,"wires":[["db5889e7.1c7d5"]]},{"id":"5a6f363.8134248","type":"change","z":"30b04b78.471094","name":"Yes","rules":[{"t":"set","p":"payload","pt":"msg","to":"yes","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1410,"y":60,"wires":[["d1acf67a.c6ed68"]]},{"id":"d1acf67a.c6ed68","type":"link out","z":"30b04b78.471094","name":"","links":["1c703515.5680e3"],"x":1515,"y":100,"wires":[]},{"id":"1c703515.5680e3","type":"link in","z":"30b04b78.471094","name":"","links":["d1acf67a.c6ed68"],"x":255,"y":180,"wires":[["b397213.7abc56"]]},{"id":"fce5e282.b5763","type":"change","z":"30b04b78.471094","name":"No","rules":[{"t":"set","p":"payload","pt":"msg","to":"no","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1410,"y":140,"wires":[["d1acf67a.c6ed68"]]}]