node-red/flows.json
[{"id":"30b04b78.471094","type":"tab","label":"Entryway Light","disabled":false,"info":""},{"id":"3e86bac0.3044f6","type":"tab","label":"Wake-up Lighting","disabled":false,"info":""},{"id":"195abbb4.d5b024","type":"subflow","name":"extract entity_id","info":"","category":"home_assistant","in":[{"x":40,"y":40,"wires":[{"id":"905c6598.f99ad"}]}],"out":[{"x":420,"y":40,"wires":[{"id":"905c6598.f99ad","port":0}]}]},{"id":"b0e0178a.0d7e","type":"subflow","name":"homeassistant start","info":"","category":"home_assistant","in":[],"out":[{"x":520,"y":60,"wires":[{"id":"fce44209.ced33","port":0}]}]},{"id":"115cab57.fd5455","type":"server","z":"","name":"Home Assistant","url":"http://hassio/homeassistant","pass":"0e5b11b9c22a40a1ae7eb35179ea28d7"},{"id":"2c6de184.e42b86","type":"server-state-changed","z":"30b04b78.471094","name":"Front Door","server":"115cab57.fd5455","entityidfilter":"binary_sensor.front_door","entityidfiltertype":"substring","haltifstate":"","x":80,"y":120,"wires":[["d8bec8ce.914f4"]]},{"id":"d8bec8ce.914f4","type":"switch","z":"30b04b78.471094","name":"Open?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":120,"wires":[["91eda75.e8452d8","8f624259.8daa3"],["b397213.7abc56"]],"outputLabels":["open","closed"]},{"id":"91eda75.e8452d8","type":"api-current-state","z":"30b04b78.471094","name":"Entryway Light","server":"115cab57.fd5455","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"light.ikea_tradfri_1000lm_entryway","x":400,"y":60,"wires":[["e038cfc.582a03"]]},{"id":"f2bb667f.9ad7","type":"switch","z":"30b04b78.471094","name":"Bright Enough?","property":"data.attributes.brightness","propertyType":"msg","rules":[{"t":"gte","v":"191","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":760,"y":40,"wires":[[],["3328bddd.1a584a"]]},{"id":"cb29ac54.be404","type":"api-call-service","z":"30b04b78.471094","name":"Turn Light On","server":"115cab57.fd5455","service_domain":"light","service":"turn_on","data":"{ \"brightness_pct\": 100 }","mergecontext":"","x":1260,"y":60,"wires":[["5a6f363.8134248"]]},{"id":"e038cfc.582a03","type":"switch","z":"30b04b78.471094","name":"On?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":60,"wires":[["f2bb667f.9ad7"],["3328bddd.1a584a"]]},{"id":"3328bddd.1a584a","type":"subflow:195abbb4.d5b024","z":"30b04b78.471094","name":"","x":1080,"y":60,"wires":[["cb29ac54.be404"]]},{"id":"905c6598.f99ad","type":"change","z":"195abbb4.d5b024","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.data.entity_id","pt":"msg","to":"data.entity_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":40,"wires":[[]]},{"id":"db5889e7.1c7d5","type":"stoptimer","z":"30b04b78.471094","duration":"2","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":680,"y":140,"wires":[["c04af924.be3f98"],[]]},{"id":"c04af924.be3f98","type":"api-current-state","z":"30b04b78.471094","name":"Entryway Light","server":"115cab57.fd5455","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"light.ikea_tradfri_1000lm_entryway","x":900,"y":140,"wires":[["64defc16.77e29c"]]},{"id":"86a86486.9b15d","type":"api-call-service","z":"30b04b78.471094","name":"Turn Light Off","server":"115cab57.fd5455","service_domain":"light","service":"turn_off","data":"{ \"transition\": 15 }","mergecontext":"","x":1260,"y":140,"wires":[["fce5e282.b5763"]]},{"id":"64defc16.77e29c","type":"subflow:195abbb4.d5b024","z":"30b04b78.471094","name":"","x":1080,"y":140,"wires":[["86a86486.9b15d"]]},{"id":"8f624259.8daa3","type":"change","z":"30b04b78.471094","name":"Stop Timer","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":120,"wires":[["db5889e7.1c7d5"]]},{"id":"b397213.7abc56","type":"traffic","z":"30b04b78.471094","name":"Turned On by Node-RED?","property_allow":"payload","filter_allow":"yes","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"no","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":440,"y":180,"wires":[["db5889e7.1c7d5"]]},{"id":"5a6f363.8134248","type":"change","z":"30b04b78.471094","name":"Yes","rules":[{"t":"set","p":"payload","pt":"msg","to":"yes","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1410,"y":60,"wires":[["d1acf67a.c6ed68"]]},{"id":"d1acf67a.c6ed68","type":"link out","z":"30b04b78.471094","name":"","links":["1c703515.5680e3"],"x":1515,"y":100,"wires":[]},{"id":"1c703515.5680e3","type":"link in","z":"30b04b78.471094","name":"","links":["d1acf67a.c6ed68"],"x":255,"y":180,"wires":[["b397213.7abc56"]]},{"id":"fce5e282.b5763","type":"change","z":"30b04b78.471094","name":"No","rules":[{"t":"set","p":"payload","pt":"msg","to":"no","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1410,"y":140,"wires":[["d1acf67a.c6ed68"]]},{"id":"a43d8ed4.e4f63","type":"moment","z":"3e86bac0.3044f6","name":"\"On\" Override","topic":"","input":"payload.data.state","inputType":"msg","inTz":"America/New_York","adjAmount":0,"adjType":"days","adjDir":"add","format":"[on_override] HH:mm","locale":"C","output":"payload","outputType":"msg","outTz":"America/New_York","x":520,"y":80,"wires":[["8926243a.01827"]]},{"id":"25e3533a.9b24b4","type":"status","z":"b0e0178a.0d7e","name":"Home Assistant Events Status","scope":["1140ba46.54cd1e"],"x":140,"y":80,"wires":[["fce44209.ced33"]]},{"id":"1140ba46.54cd1e","type":"server-events","z":"b0e0178a.0d7e","name":"Home Assistant Events","server":"115cab57.fd5455","x":120,"y":40,"wires":[[]]},{"id":"fce44209.ced33","type":"switch","z":"b0e0178a.0d7e","name":"Connected?","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":60,"wires":[[]]},{"id":"bdeb09b1.ed8aa8","type":"api-current-state","z":"3e86bac0.3044f6","name":"Bedroom Wall Dimmer","server":"115cab57.fd5455","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"light.ge_jasco_wall_dimmer_bedroom_level","x":780,"y":200,"wires":[["98e68754.f87f2"]]},{"id":"98e68754.f87f2","type":"subflow:195abbb4.d5b024","z":"3e86bac0.3044f6","name":"","x":800,"y":240,"wires":[["71c71922.387db8"]]},{"id":"8926243a.01827","type":"bigtimer","z":"3e86bac0.3044f6","outtopic":"","outpayload1":"","outpayload2":"","name":"30m Before Wake-up Time","lat":"0","lon":"0","starttime":"480","endtime":"10001","startoff":"-30","endoff":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":180,"y":200,"wires":[["85d60a6b.097d6","bdeb09b1.ed8aa8"],[],[]]},{"id":"75a7a1ab.4166e8","type":"function","z":"3e86bac0.3044f6","name":"Is Weekend?","func":"const day = new Date().getDay();\nif (day === 0 || day === 6) {\n    return msg;\n} else {\n    return null;\n}\n","outputs":1,"noerr":0,"x":330,"y":80,"wires":[["a43d8ed4.e4f63"]]},{"id":"b561fafd.e197a8","type":"poll-state","z":"3e86bac0.3044f6","name":"Wake-up Time (Weekday)","server":"115cab57.fd5455","updateinterval":"60","outputinitially":true,"outputonchanged":true,"entity_id":"input_datetime.wakeup_weekday","x":130,"y":40,"wires":[["76008db2.86bab4"]]},{"id":"144179ae.09052e","type":"poll-state","z":"3e86bac0.3044f6","name":"Wake-up Time (Weekend)","server":"115cab57.fd5455","updateinterval":"60","outputinitially":true,"outputonchanged":true,"entity_id":"input_datetime.wakeup_weekend","x":130,"y":80,"wires":[["75a7a1ab.4166e8"]]},{"id":"76008db2.86bab4","type":"function","z":"3e86bac0.3044f6","name":"Is Weekday?","func":"const day = new Date().getDay();\nif (day > 0 && day < 6) {\n    return msg;\n} else {\n    return null;\n}\n","outputs":1,"noerr":0,"x":330,"y":40,"wires":[["a43d8ed4.e4f63"]]},{"id":"85d60a6b.097d6","type":"stoptimer","z":"3e86bac0.3044f6","duration":"21","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":440,"y":260,"wires":[["574491af.4ce148","72bd0545.bfbd54"],[]]},{"id":"574491af.4ce148","type":"stoptimer","z":"3e86bac0.3044f6","duration":"1","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":440,"y":360,"wires":[["7f8f23b4.359f44","8ae449e4.9cf0e8"],[]]},{"id":"7f8f23b4.359f44","type":"stoptimer","z":"3e86bac0.3044f6","duration":"1","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":440,"y":460,"wires":[["30d10e3c.41de7a","d213a464.fc0328"],[]]},{"id":"30d10e3c.41de7a","type":"stoptimer","z":"3e86bac0.3044f6","duration":"1","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":440,"y":560,"wires":[["3ce9f125.ea62e6","4244c80b.ffa"],[]]},{"id":"3ce9f125.ea62e6","type":"stoptimer","z":"3e86bac0.3044f6","duration":"1","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":440,"y":660,"wires":[["b3f184f1.a41e88","1d11b13e.f3f067"],[]]},{"id":"b3f184f1.a41e88","type":"stoptimer","z":"3e86bac0.3044f6","duration":"1","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":440,"y":760,"wires":[["e6256ee5.19f1e8","a0d87df1.829c58"],[]]},{"id":"e6256ee5.19f1e8","type":"stoptimer","z":"3e86bac0.3044f6","duration":"1","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":440,"y":860,"wires":[["a055dab5.c257b8","fe3266f.8bd8a98"],[]]},{"id":"a055dab5.c257b8","type":"stoptimer","z":"3e86bac0.3044f6","duration":"1","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":440,"y":960,"wires":[["ca3c9fff.f4b228","1d415150.79cb37"],[]]},{"id":"ca3c9fff.f4b228","type":"stoptimer","z":"3e86bac0.3044f6","duration":"1","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":440,"y":1060,"wires":[["226c7910.ed7c46"],[]]},{"id":"9db90d5.8fdd17","type":"api-call-service","z":"3e86bac0.3044f6","name":"Fade (1m)","server":"115cab57.fd5455","service_domain":"light","service":"turn_on","data":"{ \"brightness_pct\": 20, \"transition\": 60 }","mergecontext":"","x":1560,"y":620,"wires":[[]]},{"id":"71c71922.387db8","type":"change","z":"3e86bac0.3044f6","name":"Target Brightness 10%","rules":[{"t":"set","p":"payload.data.brightness","pt":"msg","to":"26","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":220,"wires":[["b99cc82f.867cd"]]},{"id":"34a6203c.70546","type":"change","z":"3e86bac0.3044f6","name":"Target Brightness 20%","rules":[{"t":"set","p":"payload.data.brightness","pt":"msg","to":"51","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":320,"wires":[["b99cc82f.867cd"]]},{"id":"d436ed5b.9fda98","type":"change","z":"3e86bac0.3044f6","name":"Target Brightness 30%","rules":[{"t":"set","p":"payload.data.brightness","pt":"msg","to":"77","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":420,"wires":[["b99cc82f.867cd"]]},{"id":"60707407.30b284","type":"change","z":"3e86bac0.3044f6","name":"Target Brightness 40%","rules":[{"t":"set","p":"payload.data.brightness","pt":"msg","to":"102","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":520,"wires":[["b99cc82f.867cd"]]},{"id":"dd3b01e0.c38808","type":"change","z":"3e86bac0.3044f6","name":"Target Brightness 50%","rules":[{"t":"set","p":"payload.data.brightness","pt":"msg","to":"128","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":620,"wires":[["b99cc82f.867cd"]]},{"id":"b6d817a2.274478","type":"change","z":"3e86bac0.3044f6","name":"Target Brightness 60%","rules":[{"t":"set","p":"payload.data.brightness","pt":"msg","to":"153","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":720,"wires":[["b99cc82f.867cd"]]},{"id":"e88ca5a5.5343d8","type":"change","z":"3e86bac0.3044f6","name":"Target Brightness 70%","rules":[{"t":"set","p":"payload.data.brightness","pt":"msg","to":"179","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":820,"wires":[["b99cc82f.867cd"]]},{"id":"12d562d.3c7379d","type":"change","z":"3e86bac0.3044f6","name":"Target Brightness 80%","rules":[{"t":"set","p":"payload.data.brightness","pt":"msg","to":"204","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":920,"wires":[["b99cc82f.867cd"]]},{"id":"7f3d8a43.614d3c","type":"change","z":"3e86bac0.3044f6","name":"Target Brightness 90%","rules":[{"t":"set","p":"payload.data.brightness","pt":"msg","to":"230","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":1020,"wires":[["b99cc82f.867cd"]]},{"id":"2a3944f1.a74b9c","type":"change","z":"3e86bac0.3044f6","name":"Target Brightness 100%","rules":[{"t":"set","p":"payload.data.brightness","pt":"msg","to":"255","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":1120,"wires":[["b99cc82f.867cd"]]},{"id":"72bd0545.bfbd54","type":"api-current-state","z":"3e86bac0.3044f6","name":"Bedroom Wall Dimmer","server":"115cab57.fd5455","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"light.ge_jasco_wall_dimmer_bedroom_level","x":780,"y":300,"wires":[["66a70416.609464"]]},{"id":"66a70416.609464","type":"subflow:195abbb4.d5b024","z":"3e86bac0.3044f6","name":"","x":800,"y":340,"wires":[["34a6203c.70546"]]},{"id":"b99cc82f.867cd","type":"function","z":"3e86bac0.3044f6","name":"Target Brighter than Current?","func":"// If light is off we know target is brighter,\n// plus the brightness attribute won't be set\n// to check below\nif (msg.data.state === \"off\") {\n    return msg;\n}\n\nconst target = msg.payload.data.brightness;\nconst current = msg.data.attributes.brightness;\nif (target > current) {\n    return msg;\n} else {\n    return null;\n}\n","outputs":1,"noerr":0,"x":1340,"y":620,"wires":[["9db90d5.8fdd17"]]},{"id":"8ae449e4.9cf0e8","type":"api-current-state","z":"3e86bac0.3044f6","name":"Bedroom Wall Dimmer","server":"115cab57.fd5455","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"light.ge_jasco_wall_dimmer_bedroom_level","x":780,"y":400,"wires":[["5e5ee81d.a064f"]]},{"id":"5e5ee81d.a064f","type":"subflow:195abbb4.d5b024","z":"3e86bac0.3044f6","name":"","x":800,"y":440,"wires":[["d436ed5b.9fda98"]]},{"id":"d213a464.fc0328","type":"api-current-state","z":"3e86bac0.3044f6","name":"Bedroom Wall Dimmer","server":"115cab57.fd5455","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"light.ge_jasco_wall_dimmer_bedroom_level","x":780,"y":500,"wires":[["aa4e06f7.ff45b8"]]},{"id":"aa4e06f7.ff45b8","type":"subflow:195abbb4.d5b024","z":"3e86bac0.3044f6","name":"","x":800,"y":540,"wires":[["60707407.30b284"]]},{"id":"4244c80b.ffa","type":"api-current-state","z":"3e86bac0.3044f6","name":"Bedroom Wall Dimmer","server":"115cab57.fd5455","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"light.ge_jasco_wall_dimmer_bedroom_level","x":780,"y":600,"wires":[["14bfea68.5acb8e"]]},{"id":"14bfea68.5acb8e","type":"subflow:195abbb4.d5b024","z":"3e86bac0.3044f6","name":"","x":800,"y":640,"wires":[["dd3b01e0.c38808"]]},{"id":"1d11b13e.f3f067","type":"api-current-state","z":"3e86bac0.3044f6","name":"Bedroom Wall Dimmer","server":"115cab57.fd5455","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"light.ge_jasco_wall_dimmer_bedroom_level","x":780,"y":700,"wires":[["703b3d0a.7cf57c"]]},{"id":"703b3d0a.7cf57c","type":"subflow:195abbb4.d5b024","z":"3e86bac0.3044f6","name":"","x":800,"y":740,"wires":[["b6d817a2.274478"]]},{"id":"a0d87df1.829c58","type":"api-current-state","z":"3e86bac0.3044f6","name":"Bedroom Wall Dimmer","server":"115cab57.fd5455","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"light.ge_jasco_wall_dimmer_bedroom_level","x":780,"y":800,"wires":[["ace16a25.5f1ea8"]]},{"id":"ace16a25.5f1ea8","type":"subflow:195abbb4.d5b024","z":"3e86bac0.3044f6","name":"","x":800,"y":840,"wires":[["e88ca5a5.5343d8"]]},{"id":"fe3266f.8bd8a98","type":"api-current-state","z":"3e86bac0.3044f6","name":"Bedroom Wall Dimmer","server":"115cab57.fd5455","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"light.ge_jasco_wall_dimmer_bedroom_level","x":780,"y":900,"wires":[["de148a60.f25318"]]},{"id":"de148a60.f25318","type":"subflow:195abbb4.d5b024","z":"3e86bac0.3044f6","name":"","x":800,"y":940,"wires":[["12d562d.3c7379d"]]},{"id":"1d415150.79cb37","type":"api-current-state","z":"3e86bac0.3044f6","name":"Bedroom Wall Dimmer","server":"115cab57.fd5455","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"light.ge_jasco_wall_dimmer_bedroom_level","x":780,"y":1000,"wires":[["ee11bfb4.695ed"]]},{"id":"ee11bfb4.695ed","type":"subflow:195abbb4.d5b024","z":"3e86bac0.3044f6","name":"","x":800,"y":1040,"wires":[["7f3d8a43.614d3c"]]},{"id":"226c7910.ed7c46","type":"api-current-state","z":"3e86bac0.3044f6","name":"Bedroom Wall Dimmer","server":"115cab57.fd5455","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"light.ge_jasco_wall_dimmer_bedroom_level","x":780,"y":1100,"wires":[["197ea3de.34a6bc"]]},{"id":"197ea3de.34a6bc","type":"subflow:195abbb4.d5b024","z":"3e86bac0.3044f6","name":"","x":800,"y":1140,"wires":[["2a3944f1.a74b9c"]]},{"id":"c2517e04.950148","type":"comment","z":"3e86bac0.3044f6","name":"T-1","info":"","x":610,"y":1100,"wires":[]},{"id":"63e70335.00468c","type":"comment","z":"3e86bac0.3044f6","name":"T-9","info":"","x":610,"y":300,"wires":[]},{"id":"2b8fcb81.6c7834","type":"comment","z":"3e86bac0.3044f6","name":"T-8","info":"","x":610,"y":400,"wires":[]},{"id":"30d5aa37.4f43be","type":"comment","z":"3e86bac0.3044f6","name":"T-7","info":"","x":610,"y":500,"wires":[]},{"id":"ab2602fc.09134","type":"comment","z":"3e86bac0.3044f6","name":"T-6","info":"","x":610,"y":600,"wires":[]},{"id":"59707a35.adce34","type":"comment","z":"3e86bac0.3044f6","name":"T-5","info":"","x":610,"y":700,"wires":[]},{"id":"6ed6447b.e784dc","type":"comment","z":"3e86bac0.3044f6","name":"T-4","info":"","x":610,"y":800,"wires":[]},{"id":"f19dfd4b.3e453","type":"comment","z":"3e86bac0.3044f6","name":"T-3","info":"","x":610,"y":900,"wires":[]},{"id":"c5ec7233.1049b","type":"comment","z":"3e86bac0.3044f6","name":"T-2","info":"","x":610,"y":1000,"wires":[]},{"id":"9bde8952.1f925","type":"comment","z":"3e86bac0.3044f6","name":"T-30","info":"","x":610,"y":200,"wires":[]}]